absl-py==0.7.0
astor==0.7.1
astroid==2.2.0
autopep8==1.4.3
bandit==1.5.1
bitarray==0.8.3
bitstring==3.1.5
colorama==0.4.1
cycler==0.10.0
gast==0.2.2
gitdb2==2.0.5
GitPython==2.1.11
grpcio==1.19.0
h5py==2.9.0
isort==4.3.9
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Markdown==3.0.1
matplotlib==3.0.2
mccabe==0.6.1
mock==2.0.0
numpy==1.16.2
pbr==5.1.2
Pillow==5.4.1
protobuf==3.6.1
pycodestyle==2.5.0
-e git://github.com/luukbox/pyfsr@e6f3a72b25c49c368b7a7ea4eee07d6f9686bf2f#egg=pyfsr
pylint==2.3.0
pyparsing==2.3.1
python-dateutil==2.8.0
PyYAML==5.1
scikit-learn==0.20.2
scipy==1.2.1
six==1.12.0
sklearn==0.0
smmap2==2.0.5
-e git://github.com/luukbox/sp800_22_tests@fbf67e325840cd8a00a872725e8f5cdcf6d729a7#egg=sp800_22_tests
stevedore==1.30.1
tensorboard==1.13.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.31.1
typed-ast==1.2.0
Werkzeug==0.14.1
wrapt==1.11.1
